.father { padding: 50px;
    position: relative; background-color: blueviolet; width: 500px;height: 500px;} 
 
.item {background-color: coral;  width: 200px; height: 200px}

#b{
    position:absolute;
    top: 2px;right: 10px;
}