 /* css selectors */


    /*  Tag selectors */
    html {
        font-size: 10px;
    }

    p {
        color: purple;
        font-size: 2rem;
    }

    h1 {
        font-size: 3rem;
        background: gray;
    }

    h2 {
        font-size: 2.4rem;
    }

    img {
        width: 50vw;
    }

    /* class selectors */
    .italic {
        font-style: italic;
    }


    /* Id selectors */
    #theGreatBlue {
        color: blue;
        font-size: 4rem;
    }

    .wrapper {
        max-width: 600px;
        background-color: rgb(249, 249, 249);
        margin: auto;
        text-decoration: underline;

        
        padding: 4rem;
        margin:20px auto;
        border-radius: 2rem;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.58);
    }

    /* Cascading Style Sheet (CSS)*/