.dots>img{
    position: relative;
    width: 30px;
    height: 30px;
    left:480px

}
.search>img{
    position: relative;
    width: 30px;
    height: 30px;
    left: 450px;
    bottom: 35px;

}
.whatsapp>h1{
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 90px;
}

.badge{
    position: relative;
    border-radius: 5px;
    border: 1px solid gray;
    width:fit-content;
    display:flex;
    width: 400px;
}

.badge>img{
    position:relative;
    bottom:60px;
    height:40px;
    width:40px;
    border-radius: 5px;
}
.badge>div{
    margin:5px;
}
.badge>h2{
    position: relative;
    left:10px;
    top:78px;
    font-size:20px;
}
.badge>p{
    position: relative;
    right: 80px;
    bottom: 55px;
}
.badge>h3{
    position: absolute;
    bottom: 80px;
    left:295px;
    font-size: 15px;
}
/* .badge2{
    border-radius: 20px;
    width:fit-content;
    display:flex;

    
    
}
.badge2>img{
    position:relative;
    bottom:60px;
    height:40px;
    width:40px;
    border-radius: 5px;
    box-sizing: border-box;
}
.badge2>div{
    margin:5px;
}
.badge2>h2{
    position: relative;
    left:10px;
    bottom:78px;
    font-size:20px;
}
.badge2>p{
    position: relative;
    right: 35px;
    bottom: 55px;
}
.badge2>h3{
    position: relative;
    bottom: 80px;
    left:248px;
    font-size: 15px;
}
.badge3{
    border-radius: 20px;
    width:fit-content;
    display:flex;
}

.badge3>img{
    position:relative;
    bottom:60px;
    height:40px;
    width:40px;
    border-radius: 5px;
}
.badge3>div{
    margin:5px;
}
.badge3>h2{
    position: relative;
    left:10px;
    bottom:78px;
    font-size:20px;
}
.badge3>p{
    position: relative;
    right: 25px;
    bottom: 55px;
}
.badge3>h3{
    position: relative;
    bottom: 80px;
    left:205px;
    font-size: 15px;
}
.badge4{
    border-radius: 20px;
    width:fit-content;
    display:flex;
}
.badge4>img{
    position:relative;
    bottom:60px;
    height:40px;
    width:40px;
    border-radius: 5px;
}
.badge4>div{
    margin:5px;
}
.badge4>h2{
    position: relative;
    left:10px;
    bottom:78px;
    font-size:20px;
}
.badge4>p{
    position: relative;
    right: 120px;
    bottom: 55px;
}
.badge4>h3{
    position: relative;
    bottom: 80px;
    left:170px;
    font-size: 15px;
}
.badge5{
    border-radius: 20px;
    width:fit-content;
    display:flex;
}

.badge5>img{
    position:relative;
    bottom:60px;
    height:40px;
    width:40px;
    border-radius: 5px;
}
.badge5>div{
    margin:5px;
}
.badge5>h2{
    position: relative;
    left:10px;
    bottom:78px;
    font-size:20px;
}
.badge5>p{
    position: relative;
    right:25px;
    bottom: 55px;
}
.badge5>h3{
    position: relative;
    bottom: 80px;
    left:240px;
    font-size: 15px;
}
.badge6{
    border-radius: 20px;
    width:fit-content;
    display:flex;
}
.badge6>img{
    position:relative;
    bottom:60px;
    height:40px;
    width:40px;
    border-radius: 5px;
}
.badge6>div{
    margin:5px;
}
.badge6>h2{
    position: relative;
    left:10px;
    bottom:78px;
    font-size:20px;
}
.badge6>p{
    position: relative;
    left:-125px;
    bottom: 55px;
}
.badge6>h3{
    position: relative;
    bottom: 80px;
    left:170px;
    font-size: 15px;
}
.badge7{
    border-radius: 20px;
    width:fit-content;
    display:flex;
}
.badge7>img{
    position:relative;
    bottom:60px;
    height:40px;
    width:40px;
    border-radius: 5px;
}
.badge7>div{
    margin:5px;
}
.badge7>h2{
    position: relative;
    left:10px;
    bottom:78px;
    font-size:20px;
}
.badge7>p{
    position: relative;
    left:-160px;
    bottom: 55px;
}
.badge7>h3{
    position: relative;
    bottom: 80px;
    left:75px;
    font-size: 15px;
}
.badge8{
    border-radius: 20px;
    width:fit-content;
    display:flex;
}
.badge8>img{
    position:relative;
    bottom:60px;
    height:40px;
    width:40px;
    border-radius: 5px;
}
.badge8>div{
    margin:5px;
}
.badge8>h2{
    position: relative;
    left:10px;
    bottom:78px;
    font-size:20px;
}
.badge8>p{
    position: relative;
    left:-125px;
    bottom: 55px;
}
.badge8>h3{
    position: relative;
    bottom: 80px;
    left:-55px;
    font-size: 15px;
}
.badge9{
    border-radius: 20px;
    width:fit-content;
    display:flex;
}
.badge9>img{
    position:relative;
    bottom:60px;
    height:40px;
    width:40px;
    border-radius: 5px;
}
.badge9>div{
    margin:5px;
}
.badge9>h2{
    position: relative;
    left:10px;
    bottom:78px;
    font-size:20px;
}
.badge9>p{
    position: relative;
    left:-52px;
    bottom: 55px;
}
.badge9>h3{
    position: relative;
    bottom: 80px;
    left:215px;
    font-size: 15px;
}
.badge10{
    border-radius: 20px;
    width:fit-content;
    display:flex;

}
.badge10>img{
    position:relative;
    bottom:60px;
    height:40px;
    width:40px;
    border-radius: 5px;
}
.badge10>div{
    margin:5px;
}
.badge10>h2{
    position: relative;
    left:10px;
    bottom:78px;
    font-size:20px;
}
.badge10>p{
    position: relative;
    left:-159px;
    bottom: 55px;
}
.badge10>h3{
    position: relative;
    bottom: 80px;
    left:-200px;
    font-size: 15px;
} */
.fav{
    position: fixed;
    bottom:80px;
    left: 20px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 20px;

    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.488);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}